body {
  background-size: cover;
  font-family: "Sixtyfour", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 4rem;
  min-height: fit-content;
  max-height: fit-content;
}

.main {
  background: rgba(11, 11, 12, 0.9);
  width: 80%;
  max-width: 120rem;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  line-height: 1.8;
  border: 10px solid #7d4f12;
  border-style: double;
  text-align: center;
  overflow-y: scroll;
  max-height: 55rem;
  min-width: 55rem;
}

h1 {
  color: aliceblue;
  text-shadow: 2px 2px 20px rgba(195, 140, 12, 0.735);
  font-size: 40px;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #5a2d0c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 26px;
  padding-bottom: 5px;
}

a {
  color: #5a2d0c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  padding-bottom: 1rem;
}

a:hover {
  color: rgb(133, 127, 255);
}

.box {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #5a2d0c;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.85);
}

.question {
  font-weight: bold;
  color: #4a2600;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: text-shadow 0.3s ease-in-out;
}

.question:hover {
  text-shadow: 0 0 10px rgba(24, 195, 207, 0.8);
  color: aliceblue;
}

.answer {
  font-style: italic;
  color: #322b25;
  margin-left: 1rem;
}

.answer:hover {
  text-shadow: 0 0 15px rgba(255, 85, 18, 0.8);
  color: aliceblue;
}

ul {
  font-style: italic;
  color: #322b25;
  margin-left: 1rem;
}

ul:hover {
  text-shadow: 0 0 15px rgba(255, 85, 18, 0.8);
  color: aliceblue;
}
