body {
  background-size: cover;
  font-family: "Sixtyfour", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  min-height: fit-content;
  max-height: fit-content;
}

/* I use this to keep everything in a screen like box to represent the tv screen */
.main {
  background: #040f16;
  width: 70%;
  max-width: 70rem;
  padding: 2rem;
  border-radius: 2rem;
  line-height: 1.8;
  border: 0.5rem solid #878889;
  border-style: solid;
  text-align: center;
  overflow-y: scroll;
  max-height: 55rem;
  min-width: 55rem;
}

h1 {
  color: aliceblue;
  text-shadow: 1rem rgba(12, 149, 195, 0.735);
  font-size: 3rem;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
}

h2 {
  color: aliceblue;
  text-shadow: 0 0 1rem rgba(21, 200, 255, 0.781);
  font-size: 26px;
  padding-bottom: 0.2rem;
}

a {
  color: #4d4d4d;
  font-size: 1rem;
}

a:hover {
  color: rgb(177, 173, 255);
  text-shadow: 0 0 1rem #824ddd;
}

/* separation of each question and answer into their own boxes  */
.box {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 0.2rem solid #767676;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.85);
}

/* text base is dark and glow on hover to create the effect of a crt tv with glowing text */
.question {
  font-weight: bold;
  color: #005d7c7e;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: text-shadow 0.6s ease-in-out;
}

.question:hover {
  text-shadow: 0 0 1rem #b5ffe9;
  color: rgb(255, 255, 255);
}

.answer {
  font-style: italic;
  color: #c5e0d88c;
  margin-left: 1rem;
  transition: text-shadow 0.6s ease-in-out;
}

.answer:hover {
  text-shadow: 0 0 1rem #b5ffe9;
  color: rgb(255, 255, 255);
}

ul {
  font-style: italic;
  color: #c5e0d88c;
  margin-left: 1rem;
}

ul:hover {
  text-shadow: 0 0 1rem #b5ffe9;
  color: rgb(255, 255, 255);
}

/* used to create tvbutton effects using 4 textless borders */
.tvbuttons {
  background: #353636;
  padding: 4rem;
  border-radius: 20rem;
  border: 0.2rem solid #1b252b;
  border-style: inset;
}
